:root {
    background-color: rgb(0, 0, 0);
  }
  
.container {
    background-color: rgb(19, 66, 49);
    border-radius: 50%;
    filter: blur(72px);
    left: 200px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}
  
.reactLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: updown 2s ease-in-out infinite;
}

@keyframes updown {
    0%, 100% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, calc(-50% + 10px));
    }
}